body{
  height: auto;
  /* background-color: #212529; rgb(230, 230, 230); */
}

#root{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 20px 0;
}

.App {
  text-align: center;
  justify-content: center;
  align-content: center;
}